.youtube {
  text-align: center;
  color: #4E4B4A; 
  font-size: 65px;
}
  
.paragraph {
text-align: center;
font-size: 30px;
color: #4E4B4A; 
padding-left: 2em;
padding-right: 2em;  
}

.our-team {
  text-align: center;
  font-size: 70px;
  font-weight: 800px;
  color: #4E4B4A; 
  /* color: red;  */
  padding-bottom: 2px; 
}

.red-text {
  color: red;
}

