.youtube {
  text-align: center;
  color: #4E4B4A; 
  font-size: 65px;
}
  
p {
text-align: center;
font-size: 30px;
color: #4E4B4A; 
}

.our-team {
  text-align: center;
  font-size: 70px;
  font-weight: 800px;
  color: #4E4B4A; 
}

.about .description {
  text-align: center;
}

