.home {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
   
}

.theater{
    background-color:black;
}

.default{
    background-color:white;
}

.switch{
    background-color: black;
    color: firebrick;
}