.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 9px;
  display: grid;
  grid-area: 1 / 1 / span 2 / span 1;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  color: #4E4B4A; 
}
.profile {
    display: grid;
    grid-area: 1 / 1 / span 2 / span 1;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    width: 45%;
    margin-bottom: 85px;
    padding: 8px;
  }

.profile img {
    object-fit: cover;
    width: 360px;
    height: 360px;    
}

.name {
 text-align: center;
}

a {
  display: block;
  text-align: center;
  font-size: 30px;
}

a:visited {
  color: gray;
}  

a:link {
  color: blue;
}

/* 
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */