.searchBox {
    padding: 50px;
    margin-left: 5px;
}

.searchInput {
    width: 500px;
    height: 45px;
    border-radius: 5px;
    line-height: 3px;
    font-size: 18px;
    
}

.searchButton {
    width: 115px;
    height: 49px;
    font-size: 18px;
    line-height: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
}