.videoDisplay {

    /* text-align: left; */
    width: 84%;
    padding-left: 140px;
    
}

.title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 77px;
}

.videosList {
    display: grid;
    grid-template-columns: 1fr;
}