.videoDisplay {

    text-align: left;
    width: 80%;
    padding-left: 300px;
    
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.videosList {
    display: grid;
    grid-template-columns: 2fr;
}